<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.run.student.mapper.AdditionalTableMapper">

    <!--List<AdditionalTableVo> list(@Param("ew") Wrapper<AdditionalTable> queryWrapper);-->
    <select id="list" resultType="com.run.student.vo.AdditionalTableVo">
        select A.aid, A.table_name, X.username as counsellor_name, Y.username as assistant_name, A.counsellor_id
        from additional_table A
                 left join `user` X on A.counsellor_id = X.uid
                 LEFT JOIN `user` Y on A.assistant_id = Y.uid
            ${ew.customSqlSegment}
    </select>

    <!--List<String> getTableName(@Param("ew") Wrapper<AdditionalTable> queryWrapper);-->
    <select id="getTableName" resultType="java.lang.String">
        select distinct table_name from students.additional_table
                                   ${ew.customSqlSegment}
    </select>

</mapper>
