<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.run.student.mapper.StudentMapper">

    <select id="list" resultType="com.run.student.vo.StudentVo">
        select sid,
               name,
               class_name,
               major,
               department,
               counsellor,
               sex,
               tel,
               email,
               origin,
               status,
               nation,
               dormitory,
               bedroom,
               bed,
               admission_date,
               birth,
               background
        from student as s
                 inner join(
            select cid,
                   class.name      as class_name,
                   major.name      as major,
                   department.name as department,
                   `user`.username as counsellor
            from class
                     inner join major on class.major_id = major.mid
                     inner join department on major.department_id = department.did
                     inner join `user` on class.counsellor_id = `user`.uid
        ) cmdu on s.class_id = cmdu.cid
            ${ew.customSqlSegment}
    </select>

</mapper>
